.container {
  margin: auto;
  width: 50%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 35px;
}

.headingWrapper {
  grid-area: 1 / 1 / 3 / 2;
}

.aboutWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  grid-area: 4 / 2 / 6 / 3;
}

.photoWrapper1 {
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 320px;
  grid-area: 3 / 1 / 6 / 2;
  align-self: center;
}

.photoWrapper2 {
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 320px;
  grid-area: 1 / 2 / 4 / 3;
  align-self: center;
}

.text {
  margin-bottom: 10px;
  font-size: 24px;
}

.heading {
  font-size: 90px;
}

.photo {
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .headingWrapper {
    margin: 0 10px 0;
    text-align: center;
  }

  .aboutWrapper {
    max-width: 300px;
  }
}

@media screen and (max-width: 1080px) {
  .container {
    flex-direction: column;
    padding-top: 0;
  }
  .aboutWrapper {
    margin-top: 20px;
  }
  .heading {
    font-size: 40px;
  }
  .text {
    font-size: 14px;
  }
}
