.imageOverlay2 {
  position: relative;
  overflow: hidden;
  opacity: 0;
  scale: 0.5;
}

.imageOverlay {
  position: relative;
  overflow: hidden;
  /* opacity: 0;
  scale: 0.5; */
}

.imageOverlay::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 100%;
  background-color: rgba(0, 0, 255, 0);
  transition: background-color 0.5s ease;
  pointer-events: none;
  overflow: hidden;
}

.description {
  color: white;
  z-index: 1;
  font-size: 30px;
  font-weight: 600;
  pointer-events: none;
  position: absolute;
  bottom: 30px;
  transition: 0.3s ease;
  transform: translateX(100%);
  right: 0;
}

.imageOverlay:hover .description {
  right: 20px;
  transform: translateX(0);
}

.imageOverlay:hover::after {
  background: linear-gradient(0deg, rgba(7,105,138,0.8) 0%, rgba(0,0,0,0) 100%);
}

.show {
  opacity: 1;
  scale: 1;
  transition: 0.5s;
}
