.link {
  font-family: 'Steppe';
  font-size: 15px;
  color: white;
  transition: 0.2s ease-in-out;
}

.link:hover {
  color: rgb(7, 105, 138);
}

.active {
  font-size: 15px;
  color: rgb(7, 105, 138);
}

