.wrapper {
  height: 100vh;
}

.childrenWrapper {
  min-height: calc(100vh - 440px);
}

@media screen and (max-width: 600px) {
  .childrenWrapper {
    min-height: calc(100vh - 320px);
  }
}

@media screen and (max-width: 500px) {
  .childrenWrapper {
    min-height: calc(100vh - 300px);
  }
}

.galleryWrapper {
  min-height: 110vh;
}
