.footer {
  height: 100px;
  width: 100%;
  margin-top: 80px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 2px);
}

.border {
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin: 0 10px 0;
}

.rightWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right {
  font-family: 'Steppe';
  margin-left: 20px;
  font-size: 15px;
}

.logo {
  margin-left: 20px;
  max-width: 50px;
  text-align: center;
}

.socialWrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 0;
}

.socialLink {
  margin: 10px;
  cursor: pointer;
  max-height: 60px;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 600px) {
  .footer {
    height: 70px;
    margin-top: 30px;
  }
  .right {
    margin-left: 10px;
    font-size: 13px;
  }
  .logo {
    margin-left: 10px;
    max-width: 45px;
    max-height: 32.4px;
  }
  .socialWrapper {
    margin-right: 5px;
  }
  .socialLink {
    margin: 5px;
    max-height: 28px;
  }
}

@media screen and (max-width: 450px) {
  .right {
    margin-left: 10px;
    font-size: 11px;
  }
}
